*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > header{
    background-color: burlywood;
    padding: 16px 0;
    color: dimgrey;
}
header .conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}
header li a{
    color: dimgrey;
    text-decoration: none;
}
.conteiner {
    width: 1080px;
    margin: 0 auto;
}
.artigo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.artigo article img{
    width: 100%;
}
.artigo article{
    width: 30%;
}
section{
    padding: 16px 0;
}
section h2, .artigo article{
    margin-bottom: 16px;
}
.artigo article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}
.artigo article a{
    background-color: rgb(133, 88, 175);
    color: pink;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin: 8px;
}
.artigo article a:hover{
    text-decoration: underline;
}
.artigo article p,
.artigo article a{
    font-family: Arial, Helvetica, sans-serif;
}
.artigo article h3{
    font-size: 24px;
}
section h2{
    font-size: 32px;
    color: darkgray;
}
#esporte{
    background-color: rgba(0, 255, 0, 0.1);
}
#economia{
    background-color: rgba(0, 255, 255, 0.2);
}
#economia .artigo article a{
    background-color: rgba(0, 42, 139, 0.6);
}
#entretenimento{
    background-color: brown;
}
#entretenimento .artigo article a{
    background-color: chocolate;
}
#tecnologia{
    background-color: darkseagreen;
}
#tecnologia .artigo article a{
    background-color: darkred;
}